<html>
	<head>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="/room/style.css">
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script>
		</script>
	</head>
	<body>
		<div class="rootContainer">
			<div class="captionRow">
				<div style="width:50%;border:1px solid pink">
					Room Name:<%=room.name%><br>
					This room hosted by:<%=room.getHost().alias%><br>
				</div>
				<div style="width:50%;border:1px solid magenta">
					The following link can used for access this chatroom.<br>
					<%=joinLink%>
				</div>
			</div>
			<div class="mainStage">
			</div>
			<div class="panel">
				<input type="checkbox" class="w3-check" id="shareAudio" onchange="enableShareAudio(this.checked)" checked>Share Audio 
				<input type="checkbox" class="w3-check" id="shareVideo" onchange="enableShareVideo(this.checked)" checked>Share Video<br>
				<br>
				<a class="w3-button w3-blue w3-round-xxlarge" href="/logout?roomId=<%=roomId%>">Logout</a>
		<%	if (room.isHost(user)){%>		
				<a class="w3-button w3-blue w3-round-xxlarge" href="/close?roomId=<%=roomId%>">Close the room</a>
		<%	}%>
			</div>
		</div>	
	</body>
</html>	